/* header section */
/* Navbar */

.navbar {
  transition: all 0.3s ease;
  height: 100px;
  /* background-color:transparent; */
  opacity: 0.9;
}
.border-white {
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 10px;
}
.address {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
}
.btn-style-none {
    background: white !important ;
    border: 0px solid white !important;
}
.display-none {
    display: none;
}
.width-80{
    width:80%;
}
.no-margin-padding{
    padding:0px !important;
    margin:0px !important;
}
.navbar.navbar-bg-color {
    background-color: #2f2f2f !important;
}
#navbar-user-image{
    height:2rem;
    width:auto
}
.text-marun {
    color: #1d7a8c;
}
.text-marun-bold {
    color: #1d7a8c !important;
    font-weight:500;
}
.font-bold{
    font-weight:500;
}
.margin-left-10 {
    margin-left: 10px;
}
.diaplay-center{
    display:flex;
    align-items:center;
}
.border-bottom-blue {
    border-bottom: 4px solid #1d7a8c !important;
}

.nav-link{
    color:inherit;
}
.nav-link :hover {
    color: inherit;
    text-decoration : none !important;
}
.active-nav {
    background-color: white !important;
}
.dropdown-menu{
  background-color: white;
  color: black !important;
}
.active {
  background-color: #29626d;
}
.active-book-service{
  background-color: #29626d;
  color: white;
}
.small-header {
  background-color: #525252;
  height: 75px;
}
.small-logo{
    height:70px !important;
    width:90px !important;
}
.small-head {
    background-color: #525252;
}
.brown {
    background-color: #525252;
}
.navbar-brand img {
  height: 100px;
  padding: 10px;
}

.navbar.navbar-bg-color .navbar-brand img {
  height: 70px;
}

.navbar .navbar-nav li {
  margin-left: 3px;
  margin-right: 3px;
}

.navbar .navbar-nav .rounded-link {
  border: 1px solid white;
  border-radius: 20px;
  padding: 4px 10px;
}
.navbar .navbar-nav li .nav-dropdown-item {
  color: #000000 !important;
}
.navbar .navbar-nav li a {
  color: #ffffff !important;
}
small{
  font-size: 12px;
}
.navbar .navbar-nav .county-flag {
  width: 18px;
}
.display-sm{
  display: none;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: white;
  border: none;
  min-width: 0px;
  left: -5rem;
  padding: 0px;
}

/* home Section */

.home {
  height: 100vh;
  padding: 0px;
}

.home .home-content {
  background: url("../Image/group35.png") no-repeat center;
  background-size: cover;
  height: 100%;
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding-bottom: 25px;
}
.home-service-provider .home-content {
  background: url(../image/group-8.png) !important;
}

.home .home-content .home-text {
  padding-left: 35px;
  margin-top: 100px;
}

.home .home-content .home-text ul {
  padding-left: 0px;
}

.home .home-content .home-text ul li {
  list-style: none;
}

.home .home-content .home-text ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  padding-right: 12px;
}
.hover-blue :hover {
  background-color: #00607287;
  border: 1px solid white;
}
.hover-change :hover {
  background-color: transparent;
}

.home .home-content .button button {
  border: 1px solid white;
  background-color: #00607287;
  color: white;
  border-radius: 27px;
  padding: 12px 32px;
  margin-bottom: 60px;
}

.home .home-content .payment-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 35px;
}

.home .home-content .payment-process .img-size {
  width: 40px;
}

.home .home-content .payment-process .arrow img {
  width: 70px;
}

.home .home-content .payment-process .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.home .home-content .payment-process .rotateImg {
  transform: rotateX(180deg);
}

.home .home-content .down-arrow {
  border: 1px solid white;
  padding: 7px 9px;
  border-radius: 50%;
}
/* Common style */

.dvImageTextBox {
    position: relative;
    width: 100%;
}

.dvImageTextBox img {
    position: absolute;
    top:8px;
    right: 8px;
}


.max-width {
  max-width: 1104px;
  margin: auto;
  padding: 0px 50px;
}

section {
  padding: 25px 0px;
}

.bg-color-pal-grey {
  background-color: #f4f5f8;
}

/* Why helperland */

.helperland .row .padding-lr-25 {
  padding: 0px 25px;
}

/* our-blog */

.our-blog .card a {
  text-decoration: none;
  color: black;
}

.our-blog .card a img {
  margin-left: 4px;
}

/* customer-review */

.customer-review .card {
  border-left: 3px solid #1d7a8c;
}

.customer-review .card a {
  text-decoration: none;
  color: black;
}

#newslatter .col-md-6 {
  text-align: center;
}
#newslatter .col-md-6 input {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#newslatter .col-md-6 .btn {
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ff7b6d;
}
.newslatter-size {
  font-size: 2.5rem;
  text-align: center;
}
/* footer section */
footer {
  background-color: #111111;
}
.footer-main {
  padding: 20px;
}
.footer-main .col-md-2 img {
  height: 70px;
}
.footer-main .col-md-8 {
  margin-top: 25px;
}
.footer-main .col-md-1 {
  margin-top: 25px;
  color: white;
}
.footer-main .col-md-1 .bi {
  margin: 10px;
}
.footer-main .col-md-8 ul {
  list-style-type: none;
  color: white;
  text-align: center;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.footer-main .col-md-8 ul li {
  display: inline;
  margin: 10px;
}
.footer-last-row {
  padding: 15px 15px 12px 15px;
  opacity: 0.8;
  background-color: #292929;
  color: white;
  text-align: center;
}
.footer-last-row .btn {
  border-radius: 2rem;
  float: right;
}
.footer-line {
    text-align:center;
  width: 100%;
  height: 1px;
  background-color: #424242;
}
.banner-Section {
  margin-top: 75px;
  height: 370px;
}
.FAQs-Active {
  background-color: #29626d;
  color: white;
  padding: 5px;
  margin-bottom: 15px;
}
.FAQs-BORDER {
  border-bottom: 3px solid #29626d;
  margin-bottom: 15px;
}
.deactive {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.deactive :hover {
  color: black;
}
.separator-line {
  width: 62px;
  height: 2px;
  background-color: #ccc;
  display: inline-block;
}
.collapse .card {
  font-size: 16px;
  line-height: 24px;
}
.Prices-Active {
  height: 50px;
  color: white;
  background-color: #1d7a8c;
}
.Roboto-Bold-24 {
  font-size: 28px;
  font-weight: bold;
  line-height: 48px;
}
.Roboto-Bold-30 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #646464;
}
.Roboto-Bold-48 {
  font-size: 28px;
  line-height: 48px;
  color: #646464;
}
.Roboto-48 {
  font-size: 48px;
  line-height: 48px;
  color: #646464;
}
.price-onetime-description {
  margin-left: 4rem;
  margin-top: 1rem;
}
.border-blue {
  border: solid 1px #b0c9ce;
}
.price-onetime-description ul {
  list-style-type: none;
  padding-top: 20px;
  margin-left: -36px;
  list-style-type: none;
  text-align: left;
}
.price-onetime-description ul li {
  text-align: left;
  padding-left: 1.5rem;
  background-image: url(../Image/Right-Arrow.png);
  background-position: 0px 5px;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}
.extra-services-icon {
  margin-left: 10px;
  width: 108px;
  height: 108px;
  border: 1px solid #b0c9ce;
  border-radius: 50%;
  padding-top: 27px;
  text-align: center;
}
.navbar-service{
  height: 64px;
  background-color: #525252;
} 
 .navbar-service-img{
 height: 50px;
}
.payment .text-right {
    float: right;
    text-align: right;
    color: #646464;
}
.paymentheading {
    background-color: #1D7A8C;
    height: 60px;
    margin-left: -13px;
    margin-right: -13px;
    padding-top: 15px;
    padding-left: 15px;
    color: #fff;
    font-size: 20px;
}
/*.max-width{
    width:100% !important;
    display :block;
}*/
.basic-service {
    background-color: #F3F3F3;
    height: 45px;
    padding-top: 10px;
    padding-left: 15px;
    color: gray;
    font-size: 17px;
}
.ul_li {
    padding-top: 20px;
    margin-left: -40px;
    list-style-type: none;
    text-align: left;
}

    .ul_li li {
        text-align: left;
        padding-left: 2rem;
        background-image: url('../../../1 HomePage/assets/img/right-arrow.png');
        /* list-style-image: url("../../../1 HomePage/assets/img/right-arrow.png"); */
        background-position: 0px 3px;
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
    }

.basic-service {
    background-color: #F3F3F3;
    height: 45px;
    padding-top: 10px;
    padding-left: 15px;
    color: gray;
    font-size: 17px;
}

.card.mb-3 {
    box-shadow: 2px 2px gray;
}

.col-md-3 .card .card-body h5 {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
}

.col-md-3 .card .card-body {
    /* background-color: #F6F6F6; */
    text-align: left;
}

.payment .text-right {
    float: right;
    text-align: right;
    color: #646464;
}
.nav-border{
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.nav-link-image{
  height: 35px;
  text-align: center;
  padding: 3px;
}
.nav-link-image-user{
 width: 60px;
 height: 20px;
}
#Upcoming-service-welcome{
 margin-top: 64px;
 background-color: #F9F9F9;
}
#service-history-welcome{
  margin-top: 64px;
  background-color: #F9F9F9;
}
.service-history-heading {
  display:inline-block;
}
.service-history-export {
  float: right;
}
.service-menu{
  background-color: #1D7A8C;
  color: white;
  margin-bottom: 1rem;
}
.btn-lite-pink{
  background-color: #FF6B6B;
}
.lite-blue{
  background-color: #6DA9B5;
}
.active-font{
  color:  #1d7a8c;
}
.completed{
 background-color: #67b644;
 color: white;
 padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}
.cancel {
    background-color: #ff6b6b;
    color: white;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}
.btn-cancel {
    background-color: #ff6b6b;
    color: white;
}
.new {
    background-color: #F2BB37;
    color: white;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
}
 .pending{
  background-color: #1FB6FF;
  color: white;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
 } 
 .service-history-icon img{
   border: 1px solid black;
   border-radius: 100px;
   height: 35px;
   width: 35px;
   padding: 5px;
 }
 #service-history .container .row .col-md-2{
   padding: 0px;
 }
 .service-history-icon{
   padding: 5px;
   align-items: center;
   justify-content: center;
 }
 .service-history-star-icon{
   height: 15px;
   margin: 0px;
 }
.side-menu-item{
  border-bottom: 1px solid whitesmoke;
  padding: 0.5rem;
}
.side-menu-item-active{
  background-color: #146371;
}
#Upcoming-service-list .container .row .col-md-2{
 padding: 0px !important;
 background-color: #1D7A8C;
}
tbody tr td div img {
  margin-right: 0.4rem;
}
.active-btn{
  background-color: #146371;
  color: white;
}
.btn-outline{
  border: 1px solid #146371 ;
  color: #146371;
  font-weight: 500;
}
.btn-outline:hover{
  background-color: #146371;
  color: white;
}
#second-book-service{
  display: none;
}
#third-book-service{
  display: none;
}
#fourth-book-service{
  display: none;
}
.navbar-admin{
  background-color: #1FB6FF;
  color: white;
  height: 60px;
}
#admin-pannel{
  margin-top: 60px;
  padding: 0px;
}
.navbar-admin-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu-bar{
 padding: 0px;
 color: #646464;
}
.btn-admin{
  background-color: #1fb6ff;
}

.float-right{
  float: right;
}
.white-background{
  background-color: white;
}
.admin-pannel-content{
  background-color: #f2f4f5;
  color: #646464;
  padding: 1rem;
}
.border-bottom-admin{
  padding: 0.5rem;
  border-bottom: 1px solid black;
  font-size: 16px;
}
@media only screen and (max-width: 765px) {
  .extra-services-icon {
    margin-left: 24%;
    margin-right: 24%;
    width: 50%;
    height: 108px;
    border: 1px solid #b0c9ce;
    border-radius: 50%;
    padding-top: 27px;
    text-align: center;
  }
}


@media only screen and (max-width: 1199px) {
  .display-sm{
    display: block !important;
  }
   .service-menu{
    display: none;
  }
  .display-non-sm{
    display: none;
  }
}

table tr td{
  vertical-align: middle;
}

.font-blue {
  color: #1d7a8c;
  font-size: 18px;
  font-weight: bold;
}
.gray-bachgroud {
  background-color: #f6f6f6;
}
.ul-Style-sideArrow {
  padding-top: 20px;
  margin-left: -32px;
  list-style-type: none;
  text-align: left;
}
.ul-Style-sideArrow li {
  text-align: left;
  padding-left: 1.5rem;
  background-image: url(../Image/vector-smart-object-copy.png);
  background-position: 0px 4px;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}
.text-right {
  text-align: right;
}
.title{
  margin-bottom: 0rem;
}
.font-14 {
  font-size: 14px;
}
.margin-top-50 {
  margin-top: 50px;
}
.marun {
  background-color: #1d7a8c;
}
.login-form {
  width: 29%;
  margin-left: 36.1%;
  background: white;
  color: #4f4f4f;
}
@media only screen and (max-width: 700px) {
  .login-form {
    width: 90%;
    margin-left: 4.1%;
    background: white;
  }
}
.font-white {
  color: white;
}
.font-blue {
  color: #1fb6ff;
  font-size: 16px;
}
.login-form .form-control {
  padding: 0.2rem 0.5rem;
}
.how-it-work-image {
  width: 260px;
}

@media only screen and (max-width: 765px) {
  #extra-services-icon {
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .navbar-collapse {
    background-color: #525252;
    padding: 1rem;
    text-align: center;
  }
}
.admin-avtive{
  color: #1FB6FF;
}
.admin-accordion{
  border: 0px solid black !important;
}
.admin-accordion-btn{
  padding: 0px  !important;
}
.admin-accordion-btn:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);
}
.admin-accordion-btn:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.accordion-body ul {
  list-style-type: none;
  padding: 0px;
}
.remove-padding{
  padding: 0px;
}
.dropdown-arrow {
  position: relative;
}

.dropdown-arrow:after {
  content: '\f078';
  font: normal normal normal 17px/1 FontAwesome;
  right: 31px;
  top: -5px;
  padding: 15px 0px 0px 8px;
  position: absolute;
}
.book-service-extra{
  height: 130px;
  width: 100px;
}
.book-service-extra-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
   align-items: center; 
  justify-content: center;
}

.btn-rounded-book-service{
  height: 90px;
  width: 90px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.costm-input-file {
    display: inline-block;
    color: white;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50px;
    cursor: pointer;
    color: black;
    border: 1px solid grey;
}
    .costm-input-file:hover {
        border: 1px solid rgba(0,95,113,.6);
    }