@{
    Layout = "_HomeLayout";
}
@{
    ViewBag.Title = "Helperland";
}
<section class="home" id="home">
    <div class="home-content">
        <div class="home-text">
            <h1 class="title">Lorem ipsum text</h1>
            <ul class="List">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
            </ul>
        </div>
        <div class="text-center button">
            <button class="">Let's Book a Cleaner</button>
        </div>
        <div class="payment-process">
            <div class="payment-process-box text-center">
                <div class="icon-box">
                    <img src="~/image/forma-1-copy.png" asp-append-version="true" alt="forma-1" class="img-size ">
                </div>
                <h6>Enter your postcode</h6>
            </div>
            <div class="arrow icon-box display-non-sm">
                <img src="~/image/step-arrow-1.png" asp-append-version="true" alt="arrow" class="display-non-sm">
            </div>
            <div class="payment-process-box text-center">
                <div class="icon-box display-non-sm">
                    <img src="~/image/group-22.png" asp-append-version="true" alt="group-22" class="img-size">
                </div>
                <h6>Select your plan</h6>
            </div>
            <div class="arrow icon-box display-non-sm">
                <img src="~/image/step-arrow-1.png" asp-append-version="true" alt="arrow-flip" class="rotateImg display-non-sm">
            </div>
            <div class="payment-process-box text-center">
                <div class="icon-box display-non-sm">
                    <img src="~/image/forma-1.svg" asp-append-version="true" alt="group-22" class="img-size">
                </div>
                <h6>Pay securely online</h6>
            </div>
            <div class="arrow icon-box">
                <img src="~/image/step-arrow-1.png" asp-append-version="true" alt="arrow" class="display-non-sm">
            </div>
            <div class="payment-process-box text-center">
                <div class="icon-box">
                    <img src="~/image/forma-2.svg" asp-append-version="true" alt="group-22" class="img-size">
                </div>
                <h6>Enjoy amzing service</h6>
            </div>
        </div>
        <div class="text-center">
            <a href="#whyhelperland">
                <img src="~/image/shape-1.svg" asp-append-version="true" alt="down-arrow" class="down-arrow">
            </a>
        </div>
    </div>
</section>

<section id="whyhelperland">
    <div class="container">
        <div class="row text-center">
            <h2> Why Helperland</h2>
        </div>
        <div class="row whyhelperland-option justify-content-center">
            <div class="col-md-4 text-center">
                <img src="~/image/group-21.png" asp-append-version="true" class="img-fluid">
                <h3> Lorem ipsum dolor sit .</h3>
                <span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat alias magni .</span>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/image/group-24.png" asp-append-version="true" alt="" class="img-fluid">
                <h3> Lorem ipsum dolor sit .</h3>
                <span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat alias magni .</span>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/image/group-23.png" asp-append-version="true" alt="" class="img-fluid">
                <h3> Lorem ipsum dolor sit .</h3>
                <span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat alias magni .</span>
            </div>

        </div>
    </div>
</section>




<!-- text-blog -->
<section class="text-blog" id="text-blog">
    <div class="max-width">
        <div class="row">
            <div class="col-sm-12 col-md-7 d-flex flex-column justify-content-center mb-3  ">
                <h2>Lorem ipsum dolor sit amet consectetur</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa aperiam illo temporibus, deleniti
                    vel fugit vitae vero
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa aperiam illo temporibus, deleniti
                    vel fugit vitae vero laudantium a molestias quidem rerum recusandae facere magnam, consectetur.
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa aperiam illo.</p>
            </div>
            <div class="col-sm-12 col-md-5 d-flex justify-content-center mb-3 ">
                <img src="~/image/group-36.png" asp-append-version="true" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row our-blog">
            <div class="col-md-12 text-center mb-5">
                <h1>Our Blog</h1>
            </div>
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center">
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/Image/group-28.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Lorem ipsum dolor sit amet</h5>
                                <small class="text-muted">January 28, 2019</small>
                                <p class="card-text mt-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Reiciendis in saepe fugiat. Magni vero incidunt.
                                </p>
                                <a href="#">
                                    Read the Post <img src="~/Image/shape-2.svg"
                                                       alt="right arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/Image/group-29.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Lorem ipsum dolor sit amet</h5>
                                <small class="text-muted">January 28, 2019</small>
                                <p class="card-text mt-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Reiciendis in saepe fugiat. Magni vero incidunt.
                                </p>
                                <a href="#">
                                    Read the Post <img src="~/Image//shape-2.svg"
                                                       alt="right arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="~/Image/group-30.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Lorem ipsum dolor sit amet</h5>
                                <small class="text-muted">January 28, 2019</small>
                                <p class="card-text mt-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Reiciendis in saepe fugiat. Magni vero incidunt.
                                </p>
                                <a href="#">
                                    Read the Post <img src="~/Image//shape-2.svg"
                                                       alt="right arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- customer review -->
<section class="customer-review bg-color-pal-grey" id="customer-review">
    <div class="max-width">
        <div class="text-center mb-5">
            <h1>What Our Customers Say</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center mb-5">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="~/Image/group-31.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 align-self-center">
                                <h5 class="mb-0">Lary Watson</h5>
                                <small class="text-muted">Manchester</small>
                            </div>
                            <div class="flex-shrink-0">
                                <img src="~/Image/message.svg" alt="...">
                            </div>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ratione placeat a suscipit eligendi provident, ad debitis velit voluptatem quisquam illum.</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read More <img src="~/Image/shape-2.svg" alt="right arrow"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="~/Image/group-31.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 align-self-center">
                                <h5 class="mb-0">Lary Watson</h5>
                                <small class="text-muted">Manchester</small>
                            </div>
                            <div class="flex-shrink-0">
                                <img src="~/Image/message.svg" alt="...">
                            </div>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ratione placeat a suscipit eligendi provident, ad debitis velit voluptatem quisquam illum.</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read More <img src="~/Image/shape-2.svg" alt="right arrow"></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="~/Image/group-31.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 align-self-center">
                                <h5 class="mb-0">Lary Watson</h5>
                                <small class="text-muted">Manchester</small>
                            </div>
                            <div class="flex-shrink-0">
                                <img src="~/Image/message.svg" alt="...">
                            </div>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ratione placeat a suscipit eligendi provident, ad debitis velit voluptatem quisquam illum.</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read More <img src="~/Image/shape-2.svg" alt="right arrow"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
