@{
    Layout = "_Layout";
    ViewBag.Title = "Prices";
}
<section id="headerImage">
    <img src="~/Image/Pricebanner.png" class="img-fluid  banner-Section">
</section>

<section id="Prices">
    <div class="text-center ">
        <div class=" justify-content-center align-self-center">
            <h2 class="">Prices</h2>
            <div class="separator-line"></div>
            <img src="~/Image/separator.png">
            <div class="separator-line"></div>

        </div>
    </div>
    <br />
    <div class="row justify-content-center g-0">
        <div class="col-md-4 border-blue">
            <div class="Prices-Active Roboto-Bold-24 text-center">
                One Time
            </div>
            <div class="Roboto-Bold-48 text-center">
                <strong>€ 20</strong><small>/hr</small>
            </div>
            <div class="price-onetime-description text-left align-middle">
                <ul class="justify-center Price-ul ">
                    <li>Lowest Price</li>
                    <li>Easy Online & Secure payment</li>
                    <li>Easy amendment</li>
                </ul>
            </div>

        </div>
    </div>
</section>

<section id="Extra-Service">
    <div class="text-center ">
        <div class=" justify-content-center align-self-center">
            <h2 class="">Extra Services</h2>
            <div class="separator-line"></div>
            <img src="~/Image/separator.png">
            <div class="separator-line"></div>

        </div>
    </div>
    <br />
    <div class="row justify-content-center g-0 ">
        <div class="col-md-9 col-sm-12 text-center">
            <div class="row justify-content-center">
                <div class="col-md-2 col-sm-12">
                    <div class="extra-services-icon ">
                        <img src="~/Image/Extraservices-1.png" class="img-fluid">
                    </div>
                    <span class="text-center">Inside cabinets</span>
                    <br>
                    <span class="font-blue"> 30 minutes</span>
                </div>
                <div class="col-md-2  col-sm-12">
                    <div class="extra-services-icon ">
                        <img src="~/Image/Extraservices-2.png" class="img-fluid">
                    </div>
                    <span class="text-center">Inside fridge</span>
                    <br>
                    <span class="font-blue"> 30 minutes</span>
                </div>
                <div class="col-md-2 ">
                    <div class="extra-services-icon text-center">
                        <img src="~/Image/Extraservices-3.png" class="img-fluid">
                    </div>
                    <span class="text-center">Inside oven</span> <br>
                    <span class="font-blue"> 30 minutes</span>

                </div>
                <div class="col-md-2 ">
                    <div class="extra-services-icon text-center">
                        <img src="~/Image/Extraservices-7.png" class="img-fluid">
                    </div>
                    <span class="text-center justify-center">Laundry wash </span>
                    <br>
                    <span class="font-blue"> 30 minutes</span>
                </div>
                <div class="col-md-2 text-center">
                    <div class="extra-services-icon text-center">
                        <img src="~/Image/shape-1.png" class="img-fluid">
                    </div>
                    <span class="text-center">Interior windows</span>
                    <br>
                    <span class="font-blue"> 30 minutes</span>
                </div>

            </div>

        </div>
    </div>
</section>
<section id="Cleaning-include" class="gray-bachgroud">
    <div class="text-center ">
        <div class=" justify-content-center align-self-center">
            <h2 class="">What we include in cleaning</h2>
            <div class="separator-line"></div>
            <img src="~/Image/separator.png">
            <div class="separator-line"></div>

        </div>
    </div>
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="~/Image/group-18.png" class="img-fluid">
                <br>
                <strong> <br> Bedroom and Living Room</strong>
                <ul class="ul-Style-sideArrow">
                    <li>
                        Dust all accessible surfaces
                    </li>
                    <li>Wipe down all mirrors and glass fixtures</li>
                    <li>Clean all floor surfaces</li>
                    <li>Take out garbage and recycling</li>

                </ul>
            </div>
            <div class="col-md-4">
                <img src="~/Image/group-19.png" class="img-fluid">
                <br>
                <strong> <br> Bathrooms </strong>
                <ul class="ul-Style-sideArrow">
                    <li>Wash and sanitize the toilet, shower, tub, sink</li>
                    <li>Dust all accessible surfaces</li>
                    <li>Wipe down all mirrors and glass fixtures</li>
                    <li>Clean all floor surfaces</li>
                    <li>Take out garbage and recycling</li>

                </ul>

            </div>
            <div class="col-md-4">
                <img src="~/Image/group-20.png" class="img-fluid">
                <br>
                <strong><br>  Kitchen</strong>
                <ul class="ul-Style-sideArrow">
                    <li>Dust all accessible surfaces </li>
                    <li>Empty sink and load up dishwasher</li>
                    <li> Wipe down exterior of stove, oven and fridge</li>
                    <li>Clean all floor surfaces</li>
                    <li>Take out garbage and recycling </li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="whyhyperland">
    <div class="text-center ">
        <div class=" justify-content-center align-self-center">
            <h2 class="">Why Helperland</h2>
            <div class="separator-line"></div>
            <img src="~/Image/separator.png">
            <div class="separator-line"></div>
        </div>
    </div>

    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right">
                <strong class="text-right">Experienced and vetted professionals</strong>
                <p class="text-right font-14"> dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>

                <strong class="text-right">
                    Dedicated customer service
                </strong>
                <p class="text-right font-14"> to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>

            </div>
            <div class="col-md-4 text-center">
                <img src="~/Image/the-best-img-1.png" class="img-fluid">


            </div>
            <div class="col-md-4">
                <strong class="text-left">Every cleaning is insured</strong>
                <p class="text-left font-14"> and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</p>
                <br><strong class="text-left">Secure online payment</strong>
                <p class="text-left font-14"> Payment is processed securely online. Customers pay safely online and manage the booking.</p>
            </div>
        </div>
    </div>
</section>
