@{
    Layout = "_Layout";
    ViewBag.Title = "Reset Password ";
}
@model Helperland.Models.ViewModel.ResetPasswordViewModel
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 mt-4">
            <h2 class="text-center mb-3">Reset Password</h2>
            <form asp-action="Resetpassword" asp-controller="home">
                <div asp-validation-summary="ModelOnly" class="alert alert-warning alert-dismissible fade show">
                    <input type="button" class="close" data-dismiss="alert" aria-label="Close" />
                </div>

                <div>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mt-3">
                    <input asp-for="Confirmpassword" class="form-control" placeholder="Confirm Password" />
                    <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                </div>
                <div class="mt-3 p-3 justify-content-center">
                   <input type="submit" value="Reset Password"  class="btn rounded-pill marun form-control font-white" />
                </div>
            </form>
        </div>
    </div>
</div>