<div class="col-md-2 service-menu g-0">
    <div class="side-menu-item">
        <a asp-action="Index" asp-controller="Customer" class="nav-link">Dashboard </a>  
    </div>
    <div class="side-menu-item">
        <a asp-action="ServiceHistory" asp-controller="Customer" class="nav-link"> Service History </a>
       
    </div>
    <div class="side-menu-item ">
        <a asp-action="" asp-controller="" class="nav-link">Service Schedule </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="" asp-controller="" class="nav-link">Favourite Pros </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="" asp-controller="" class="nav-link">Invoice </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="" asp-controller="" class="nav-link">Notification </a>
        
    </div>
</div>