@model Helperland.Models.ViewModel.LoginViewModel
<div class="modal fade" id="ForgetPasswordModel" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Forgot password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible fade show " id="Forget-alert-success" style="display:none" role="alert">
                          Email is sent to your Email Address
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show " id="Forget-alert" style="display:none" role="alert">
                    <div asp-validation-summary="ModelOnly"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form asp-action="ForgrtPassword" asp-controller="home" id="ForgetPasswordforrm">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input type="submit" class="btn rounded-pill marun font-white d-block form-control mt-3" />
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="" data-bs-target="#LoginModel" data-bs-toggle="modal" data-bs-dismiss="modal">Login now</a>
            </div>
        </div>
    </div>
</div>
