@using Microsoft.AspNetCore.Http
@{ int? userID = Context.Session.GetInt32("userID"); }
@{ int? Usertype = Context.Session.GetInt32("usertype"); }
@*@if(userID == null)
{
    userID = 1;
}*@
<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title | helperland</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <!--  Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body id="body">
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-xl navbar-dark small-head">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="index" asp-controller="home">
                <img src="~/Image/white-logo-transparent-background.png" asp-append-version="true" alt="" id="brand-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navLinks">

                    @if (userID == null)
                    {

                        <li class="nav-item hover-change ">
                            <a class="nav-link rounded-link active" asp-action="index" asp-controller="BookService">Book a Cleaner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="prices" asp-controller="home">Prices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Guarantee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="contact" asp-controller="home">Contact us</a>
                        </li>
                        <li class="nav-item hover-change">
                            <a class="nav-link rounded-link active" data-bs-toggle="modal" data-bs-target="#LoginModel">Login</a>
                        </li>
                        <li class="nav-item hover-change">
                            <a class="nav-link rounded-link active" asp-action="ServiceProviderSignUP" asp-controller="home">Become a Helper</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item display-sm">
                            <a class="nav-link"> Welcome Sandeep</a>
                        </li>
                        @if (Usertype == 1)
                        {
                            <li class="nav-item diaplay-center">
                                <a class="nav-link rounded-link active" asp-action="index" asp-controller="BookService">Book now </a>
                            </li>
                        }


                        <li class="nav-item display-sm">
                            <a class="nav-link"> Dashboard</a>
                        </li>
                        <li class="nav-item display-sm">
                            <a class="nav-link"> Service History</a>
                        </li>
                        <li class="nav-item display-sm">
                            <a class="nav-link"> Service Schedule</a>
                        </li>
                        <li class="nav-item display-sm">
                            <a class="nav-link">  Favourite Pros </a>
                        </li>
                        <li class="nav-item display-sm">
                            <a class="nav-link"> Invoice </a>
                        </li>
                        <li class="nav-item display-sm">
                            <a class="nav-link"> Notification </a>
                        </li>

                        <li class="nav-item display-sm">
                            <a class="nav-link"> My Setting </a>
                        </li>
                        <li class="nav-item display-sm">
                            <a class="nav-link"> Logout</a>
                        </li>
                        <li class="nav-item diaplay-center">
                            <a class="nav-link " asp-action="Prices" asp-controller="home">Prices & services</a>
                        </li>
                        <li class="nav-item diaplay-center">
                            <a class="nav-link" href="#">Warranty </a>
                        </li>
                        <li class="nav-item diaplay-center">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item diaplay-center">
                            <a class="nav-link" asp-action="Contact" asp-controller="home"> Contact</a>
                        </li>
                        <li class="nav-item display-non-sm diaplay-center">
                            <img src="~/image/icon-notification.png" class="diaplay-center nav-border nav-link-image">
                        </li>
                        <li class="nav-item dropdown display-non-sm">
                            <a class="nav-link dropdown-toggle diaplay-center" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/image/user.png" id="navbar-user-image"
                                     class="county-flag nav-link-image-user">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="">
                                    <a class="dropdown-item nav-dropdown-item" href="#">
                                        <small>Welcome,</small>
                                        @Context.Session.GetString("username")
                                    </a>
                                    <hr>
                                </li>
                                @if (Usertype == 1)
                                {
                                    <li class="">
                                        <a class="dropdown-item nav-dropdown-item" asp-action="Index" asp-controller="Customer">
                                            My Dashboard
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item nav-dropdown-item" asp-action="Dashbord" asp-controller="Customer">
                                            My Setting
                                        </a>
                                    </li>

                                }
                                <li class="">
                                    <a class="dropdown-item nav-dropdown-item" asp-action="Logout" asp-controller="Home">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    @if (userID == null)
    {
        <partial name="_LoginPartialView" model="Model" />
    }

    @RenderBody()

    <section id="newslatter">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="#headerImage" class="link"> <i class="bi bi-arrow-up-circle newslatter-size"></i> </a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6 ">
                    <h2> Get Our Newsletter</h2>
                    <input type="email" placeholder="Your Email">
                    <button class="btn btn-sm">Submit</button>
                </div>

            </div>
        </div>
    </section>


    <footer>

        <div class="container-fluid">
            <div class="row footer-main justify-content-center">
                <div class="col-md-2 col-sm-12 text-center">
                    <img src="~/Image/white-logo-transparent-background.png"
                         asp-append-version="true"
                         class="img-fluid">
                </div>
                <div class="col-md-8 col-sm-12">
                    <ul>
                        <li> <a asp-action="index" asp-controller="home" class="link">Home</a> </li>
                        <li> <a asp-action="about" asp-controller="home" class="link">About</a>  </li>
                        <li> <a href="#" class="link">TestiMonials </a>  </li>
                        <li><a asp-action="faq" asp-controller="home" class="link">Faq</a>  </li>
                        <li><a href="#" class="link">Insurance Policy</a>  </li>
                        <li><a href="#" class="link">Impressun</a>  </li>
                    </ul>

                </div>
                <div class="col-md-1 col-sm-12 text-center">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </div>

        <div class="footer-line"></div>
        <div class="footer-last-row">
            Lorem ipsum dolor, sit amet consectetur  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse modi, repudiandae deserunt . <span> </span>

        </div>
    </footer>

    <!-- Jquery -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Main Js File-->
    <script src="~/js/main.js"></script>
    <!-- JS Bootstrap -->
    @RenderSection("Script", required: false);
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ae6d6e0254.js" crossorigin="anonymous"></script>
</body>

</html>
