<div class="service-menu">
    <div class="side-menu-item">
        <a asp-action="Index" asp-controller="ServiceProvider" class="nav-link">Dashboard </a>
    </div>
    <div class="side-menu-item">
        <a asp-action="UpcomingServices" asp-controller="ServiceProvider" class="nav-link">Upcoming Services </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="NewServiceRquest" asp-controller="ServiceProvider" class="nav-link">New Service Requests </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="Index" asp-controller="ServiceProvider" class="nav-link">Service Schedule </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="ServiceHistory" asp-controller="ServiceProvider" class="nav-link">Service History </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="MyRating" asp-controller="ServiceProvider" class="nav-link">My Ratings </a>
        
    </div>
    <div class="side-menu-item">
        <a asp-action="BlockCustomer" asp-controller="ServiceProvider" class="nav-link">Block Customer </a>
        
    </div>
</div>
